:root {
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: #006fe6;
  --ifm-color-primary-darker: #0069d9;
  --ifm-color-primary-darkest: #0056b3;
  --ifm-color-primary-light: #1a88ff;
  --ifm-color-primary-lighter: #268fff;
}
.footer__item,
.footer__title {
  text-align: center;
}

blockquote {
  border-left-color: #fcd34d;
  background-color: #fffbeb;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    background-color: #334756;
  }
}

[data-theme="dark"] .box-tag {
  color: #d7d7d7;
  background-color: rgb(50 50 50) !important;
  border-color: rgb(70 70 70) !important;
}

.deploymentTypeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.deploymentTypeDNS {
  background-color: #2D5FAA;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}

.deploymentTypeDID {
  background-color: #3AAF86;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-left: 12px;
}

.deploymentTypeRemark {
  color: #89969F;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
