/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

#feature img {
  min-height: 120px;
  transform: scale(1.5);
}

#feature .blockContent h2 {
  font-size: 1.5em;
}

header a:hover {
  color: white;
  text-decoration: none;
}

.content-home .productShowcaseSection:nth-child(odd) {
  background-color: #f0f3f6;
}

.content-home .products .blockElement h2 {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 10px;
}

.content-home .products .blockImage img {
  max-height: 260px;
}

.content-home .products .blockElement {
  margin-bottom: 20px;
}

.content-home .products .twoByGridBlock {
  margin-left: 0;
  margin-right: 0;
}

.content-home .products .twoByGridBlock .blockImage {
  flex: 0 1 100%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  max-width: none;
}
